demo-september-2023/bin/
demo-september-2023/obj/
*.bin
*.v2
demo-september-2023/obj/project.assets.json
*.targets
.vs/task-manager-demo/v17/.suo
demo-september-2023/bin/Debug/net6.0/task-manager-demo.deps.json
demo-september-2023/bin/Debug/net6.0/task-manager-demo.dll
demo-september-2023/bin/Debug/net6.0/task-manager-demo.exe
demo-september-2023/bin/Debug/net6.0/task-manager-demo.pdb
demo-september-2023/bin/Debug/net6.0/task-manager-demo.runtimeconfig.json
demo-september-2023/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo-september-2023/obj/Debug/net6.0/apphost.exe
demo-september-2023/obj/Debug/net6.0/demo-september-2023.AssemblyInfo.cs
demo-september-2023/obj/Debug/net6.0/demo-september-2023.AssemblyInfoInputs.cache
demo-september-2023/obj/Debug/net6.0/demo-september-2023.assets.cache
demo-september-2023/obj/Debug/net6.0/demo-september-2023.GeneratedMSBuildEditorConfig.editorconfig
demo-september-2023/obj/Debug/net6.0/demo-september-2023.GlobalUsings.g.cs
demo-september-2023/obj/Debug/net6.0/ref/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/refint/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/task-manager-demo.AssemblyInfo.cs
demo-september-2023/obj/Debug/net6.0/task-manager-demo.AssemblyInfoInputs.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.assets.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.BuildWithSkipAnalyzers
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.CoreCompileInputs.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.FileListAbsolute.txt
demo-september-2023/obj/Debug/net6.0/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/task-manager-demo.GeneratedMSBuildEditorConfig.editorconfig
demo-september-2023/obj/Debug/net6.0/task-manager-demo.genruntimeconfig.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.GlobalUsings.g.cs
demo-september-2023/obj/Debug/net6.0/task-manager-demo.pdb
demo-september-2023/obj/demo-september-2023.csproj.nuget.dgspec.json
demo-september-2023/obj/demo-september-2023.csproj.nuget.g.props
demo-september-2023/obj/demo-september-2023.csproj.nuget.g.targets
demo-september-2023/obj/project.assets.json
demo-september-2023/obj/project.nuget.cache
demo-september-2023/obj/task-manager-demo.csproj.nuget.dgspec.json
demo-september-2023/obj/task-manager-demo.csproj.nuget.g.props
demo-september-2023/obj/task-manager-demo.csproj.nuget.g.targets
demo-september-2023/bin/Debug/net6.0/task-manager-demo.deps.json
demo-september-2023/bin/Debug/net6.0/task-manager-demo.dll
demo-september-2023/bin/Debug/net6.0/task-manager-demo.exe
demo-september-2023/bin/Debug/net6.0/task-manager-demo.pdb
demo-september-2023/bin/Debug/net6.0/task-manager-demo.runtimeconfig.json
demo-september-2023/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo-september-2023/obj/Debug/net6.0/apphost.exe
demo-september-2023/obj/Debug/net6.0/demo-september-2023.AssemblyInfo.cs
demo-september-2023/obj/Debug/net6.0/demo-september-2023.AssemblyInfoInputs.cache
demo-september-2023/obj/Debug/net6.0/demo-september-2023.assets.cache
demo-september-2023/obj/Debug/net6.0/demo-september-2023.GeneratedMSBuildEditorConfig.editorconfig
demo-september-2023/obj/Debug/net6.0/demo-september-2023.GlobalUsings.g.cs
demo-september-2023/obj/Debug/net6.0/ref/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/refint/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/task-manager-demo.AssemblyInfo.cs
demo-september-2023/obj/Debug/net6.0/task-manager-demo.AssemblyInfoInputs.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.assets.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.BuildWithSkipAnalyzers
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.CoreCompileInputs.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.csproj.FileListAbsolute.txt
demo-september-2023/obj/Debug/net6.0/task-manager-demo.dll
demo-september-2023/obj/Debug/net6.0/task-manager-demo.GeneratedMSBuildEditorConfig.editorconfig
demo-september-2023/obj/Debug/net6.0/task-manager-demo.genruntimeconfig.cache
demo-september-2023/obj/Debug/net6.0/task-manager-demo.GlobalUsings.g.cs
demo-september-2023/obj/Debug/net6.0/task-manager-demo.pdb
demo-september-2023/obj/demo-september-2023.csproj.nuget.dgspec.json
demo-september-2023/obj/demo-september-2023.csproj.nuget.g.props
demo-september-2023/obj/demo-september-2023.csproj.nuget.g.targets
demo-september-2023/obj/project.assets.json
demo-september-2023/obj/project.nuget.cache
demo-september-2023/obj/task-manager-demo.csproj.nuget.dgspec.json
demo-september-2023/obj/task-manager-demo.csproj.nuget.g.props
demo-september-2023/obj/task-manager-demo.csproj.nuget.g.targets
